/* fondo y titulos de las paginas*/
.pag {
    background-image: url(../multimedia/15364620_5597956.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

  
  .pag h1 {
    @include flexbox (row,center,center,wrap,0px);
    padding: 100px;
    font-family:$font;
    font-size: 90px;
    color: rgb(58, 44, 32);
  }
 }
  
  /*contenido de las paginas*/
  .subtitulo h2 {
    font-family: $font;
    padding-top: 50px;
    padding-left: 300px;
    font-size: 55px;
  }
  
  .content {
    display: flex;
  }
  
  .content img {
    width: 450px;
    height: 450px;
    object-position: 10px;
    position: absolute;
  }
  
  .content p {
    display: flex;
    padding: 50px 200px 20px 500px;
    font-family:$font-2 ;
    font-weight: bold;
    font-size: 25px;
  }


