/* fondo y titulos de las paginas*/
.pag {
    background-image: url(../multimedia/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

  
  .pag h1 {
    @include flexbox (row,center,center,wrap,0px);
    padding: 100px;
    font-family:$font;
    font-size: 90px;
    color: rgb(58, 44, 32);
  }
 }
  
  /*contenido de las paginas*/
  .subtitulo h2 {
    font-family: $font;
    padding-top: 50px;
    padding-left: 300px;
    font-size: 55px;
  }
  
  .content {
    display: flex;
  }
  
  .content img {
    width: 450px;
    height: 450px;
    object-position: 10px;
  }
  
  .content p {
    display: flex;
    padding: 50px 200px 20px 500px;
    margin-bottom: 185px;
    font-family:$font-2 ;
    font-weight: bold;
    font-size: 25px;
  }
  
    // Animación de las páginas
    .pag__animacion{
      animation-name:movimiento;
      animation-iteration-count: 1;
      animation-timing-function:linear;
      animation-duration: 1s;
      animation-delay: 0s;
     }
  
     @keyframes movimiento{
      0%{transform: translateY(-25%);}
      50%{transform: translateY(-10%);}
      100%{transform: translateY(1%);}
     }
